<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/addPaper" method="POST" enctype="multipart/form-data">
        <label >Name Paper:</label>
        <input type="text" name="namePaper"><br><br>
        <label for="lname">Author:</label>
        <input type="text" id="lname" name="author"><br><br>
        <label for="lname">isbn:</label>
        <input type="text" id="lname" name="isbn"><br><br>
        <label for="lname">Year:</label>
        <input type="number" id="lname" name="year"><br><br>
        <label for="lname">PageNumber:</label>
        <input type="number" id="lname" name="pageNumber"><br><br>
        <input type="submit" value="Add">
      </form>
   
</body>
</html>